<%# Page which gets opened up when user clicks on "create a new post"%>

<%# User input captured through the form%>

<%= form_with :model => @post do |form| %>
	  
      <p>
	    <%= form.label "title", "Post title" %>
	    <%= form.text_field "title" %>
	  </p>
	  <p>
	    <%= form.label "posted_on", "Date" %>
	    <%= form.date_field "posted_on" %>
	  </p>
	  <p>
	    <%= form.label "description", "Description" %>
	    <%= form.text_field "description" %>
	  </p>
	  <p>
	  <%= form.hidden_field "place_id" %>
	  </p>
	  <%= form.submit %>

<% end %>

