<%# Page which gets opened up when user clicks on the new place created via form%>

<h1><%= @place["name"] %></h1>
	
	<ul>
	    <% for post in @posts %>
	    <h2> <%= post["title"] %> </h2>
	    <p> <%= post["posted_on"] %> </p>
	    <p> <%= post["description"] %> </p>
	    <% end %>
	</ul>
	
<p><a href="/posts/new?place_id=<%= @place["id"] %>"> Add a new post for <%= @place["name"]%> </a></p>
	
<p><a href="/places"> Back to Places Home </a></p>

